
MAKE SURE YOU HAVE THE "HTTP://" AT THE BEGINNING OF THE URL OR EVERYTHING WILL BREAK!
<form action="/bookmarks/add" method="post">
  Add a URL: <input type="text" name="url" placeholder="http://myurl.com"><br>
  Add a title: <input type="text" name="title" placeholder="Title"><br>
  <button type="submit">Add</button>
</form>
